html {
  scroll-behavior: smooth;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.search-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.scroll-down {
  cursor: pointer;
}
