.filter-button {
  padding: 10px;
  border: none;
  transition: 0.4s;
  background: transparent;
  box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.61);
}

.filter-button:hover {
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.61);
}

.chosen {
  background: rgba(34, 60, 80, 0.61);
}
