.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0;
}

.header__title {
  font-size: 24px;
  font-weight: 600;
}

.header__counter {
  font-size: 18px;
}
